.route-container[route="route-/customise"] {
  z-index: 100;
}

.customiser-page {
  margin-top: 0px !important;
  background-color: #EEE;
}

#controls {
  position: absolute;
  z-index: 100;
  top: 100px;
  right: calc(10%);
  margin: 20px;
  width: 400px;
  height: calc(100% - 200px);
  overflow-y: auto;
}

.control {
  margin-bottom: 20px;
}

.card {
  border: none;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-header {
  border: none;
  padding: .5rem;
  background-color: white;
}

.card-body {
  background-color: rgba(0,0,0,.02);
}

.accordion {
  border-radius: .3rem;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

canvas {
  outline: none;
}

#nav-controls-customiser {
  position: absolute;
  top: 0px;
  padding: 20px;
  position: absolute;
}

.btn-color {
  width: 30px;
  height: 30px;
  border: solid 2px white;
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
}

.btn-pattern {
  width: 50px;
  height: 50px;
  border: solid 2px white;
  background-size: cover;
  background-position: center;
  border-radius: .5rem !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
}

.alert p {
  font-size: 1rem;
}

.text-code {
  font-family: monospace;
  font-size: 10rem;
}