/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  position: relative;
  background-color: #FFF;

  /* background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif; */
  overflow-y: hidden;
}


.btn {
  border-radius: 100rem;
}

.btn-noevent {
  pointer-events:none;
}

.btn-outline-primary {
  border: none;
  background-color: white;
}

#root {
  height: 100vh;
  display: flex;
}

.route-container {
  background-color: white;
  display: flex;
  width: 100%;
}

.page {
  width: 100%;
  margin-top: 100px;
  flex: 1;
}

#nav-controls {
  padding: 20px;
  position: absolute;
}

.fade-enter {
  /* opacity: 0.01; */
  /* transform: translateX(100px); */
}
.fade-enter-active {
  /* opacity: 1; */
  /* transform: translateX(0); */
  /* transition: all 300ms linear; */
}
.fade-exit {
  /* opacity: 1;
  transform: translateX(0); */
}
.fade-exit-active {
  /* opacity: 0.01; */
  /* transform: translateX(-100px); */
  /* transition: all 300ms linear; */
}


@import "./Customiser/Customiser.css";
@import "./Modal/Modal.css";